/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 1em/1.3 -apple-system, "Fira Sans", Verdana, sans-serif;
}
.wrapper {
	width: 100%;
	max-width: 50rem;
	margin: 0 auto;
	padding: 0 .5rem;
	box-sizing: border-box;
}

.main-header {
	margin: 1em 0;
	color: #666;
	font-size: 3em;
	font-weight: 200;
}
.bullshit {
	display: inline-block;
	color: rgb(177, 0, 0);
	font-size: .4em;
	font-weight: 600;
	transform: rotate(-15deg) translate(-.3em, -1em);
}

.body {
}
.mockup {
	max-height: 80vh;
}
.mockup.mod-large {
	display: none;
	float: right;
	margin-top: -10vh;
	margin-left: 2em;
	margin-bottom: 10vh;
}
.hero {
	font-size: 1.8em;
	font-weight: 200;
	padding-top: 10vh;
}
.instructions {
	font-size: 1.5em;
	font-weight: 200;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.main-footer {
	padding: 10vh 0;
	border-top: 1px solid rgba(0, 0, 0, .2);
	background-color: #f6f6f6;
}
.main-footer p {
	opacity: .5;
}

strong {
	font-weight: 600;
}
a {
	text-decoration: none;
}

@media (min-width: 500px) {
	.mockup.mod-large {
		display: inline-block;
	}
	.mockup.mod-small {
		display: none;
	}
}
